* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik, Poppins, sans-serif;
}

html,
body {
    height: 100%;
    background-color: #040421;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 18px;
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 90px;
}

h1,
h2 {
    font-weight: 600;
    color: white;
    text-align: center;
}

.input-add {
    width: 100%;
    height: 35px;
    border: 1px solid #1a73e8;
    border-radius: 4px;
    padding: 0 14px;
    margin: 4px 0;
    outline: none;
}

.all-tasks {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #0b57ed;
}

h2 {
    margin-bottom: 8px;
}

.container {
    width: 100%;
    height: 50px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 10px 0;
}

span {
    width: 75%;
    display: flex;
}

.task {
    all: unset;
    width: 100%;
    color: white;
    font-size: 14px;
}

.controls {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

svg {
    cursor: pointer;
}

.delete-button {
    width: 25px;
    height: 100%;
    fill: white;
    transition: 0.5s;
}

.delete-button:hover {
    fill: #c21235;
}

.edit-button {
    width: 22px;
    fill: white;
    transition: 0.5s;
}

.edit-button:hover {
    fill: orange;
}

.edit-input {
    width: 90%;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-weight: 300;
}

.save {
    all: unset;
    color: greenyellow;
    cursor: pointer;
}

@media (max-width: 768px) {
    header,
    .all-tasks {
        width: 95%;
    }
    .controls {
        width: 42px;
    }
    .delete-button {
        width: 20px;
    }
    .edit-button {
        width: 17px;
    }
}
